// font-family: "Open Sans", sans-serif !important
// font-family: "Comfortaa", sans-serif

html
    height: 100%
    font-family: "Comfortaa", sans-serif !important
body
    height: 100%
    margin: 0
#app
    display: flex
    flex-direction: column
    height: 100%
    padding: 0.75rem 1rem
.app-header
    margin-bottom: 1rem
.app-body

.main-menu-bar
    .p-sidebar-content
        padding: 0
.main-menu
    //flex: 0 250px
.main-content
    display: flex
    flex-direction: column
    gap: 1rem
    flex: 1
    height: 100%

.p-component
    font-family: "Comfortaa", sans-serif
